<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="pet">
			<h:panelGrid columns="2">

				<h:outputText value="#{msg.petNameLabel}" />
				<h:inputText id="name" value="#{petBean.pet.name}" />

				<h:outputText value="#{msg.petNumberLabel}" />
				<h:inputText id="yob" value="#{petBean.pet.number}" />
				
				<h:outputText value="#{msg.petBreedLabel}" />
				<h:inputText id="breed" value="#{petBean.pet.breed}" />
				
				<h:outputText value="#{msg.petColourLabel}" />
				<h:inputText id="colour" value="#{petBean.pet.colour}" />
				
				<h:outputText value="#{msg.petVaccinationLabel}" />
				<h:selectBooleanCheckbox id="vaccination" value="#{petBean.pet.vaccination}" ></h:selectBooleanCheckbox>
			
				
			</h:panelGrid>

			<h:commandButton value="#{msg.petFormOKButton}"
				action="#{petBean.addPet}" />
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>