<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{petBean.allPets}" var="item">
      <f:facet name="header">#{msg.petAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">#{msg.petNameLabel}</f:facet>
        #{item.name}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.petNumberLabel}</f:facet>
        #{item.number}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.petBreedLabel}</f:facet>
        #{item.breed}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.petColourLabel}</f:facet>
        #{item.colour}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.action}</f:facet>
        <h:commandLink value="#{msg.actionDelete}" action="#{petBean.deletePet}"/>
      </h:column>
      
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>